<main>
  {{#if valid}}
    <input id="input" placeholder="Contraseña nueva"/>
    <div id="state"></div>
    <button id="submit">Cambiar</button>
  {{else}}
    {{#if expired}}
        <button id="resend">Reenviar email</button>
    {{else}}
        <p>Token invalido</p>
    {{/if}}
  {{/if}}
</main>
<script>
  document.getElementById("resend")?.addEventListener("click", async () => {
    await fetch(`/api/session/change-password`, {method: "POST", body: JSON.stringify({email: "{{email}}"}), headers: {"Content-Type": "application/json"} })
    window.location.replace("/products")
  })

  document.getElementById("submit").addEventListener("click", async () => {
    const result = await (await fetch(`/api/session/reset-password`, {method: "PUT", body: JSON.stringify({email: "{{user.email}}", password: document.getElementById("input").value}), headers: {"Content-Type": "application/json"} })).json()
    if (result.payload == "la contraseña es la misma") return document.getElementById("state").innerHTML = `<p>La contraseña es la misma</p>`
    window.location.replace("/products")
  })
</script>